*{ margin: 0;
    padding: 0;

}
.cabeçalho {background-color:#66cc74;
    color: #3c10db;
    display: flex;
justify-content: space-around;
align-items: center;
padding:  24px 0;

}

.cabeçalho-imagem{ width: 10%;}

.cabeçalho-lista-item{ 
    display: inline-block;
margin: 0 16px;
font-size: 32px; 
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.escola-imagem { width: 30%;

  }  
.escola {
background-image: linear-gradient(#0b5db9, #78acdd); 
color: white;
display: flex; 
justify-content: center;
align-items: center;
padding: 24px,0;}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
}